textarea {
  resize: none; }

body#wait {
  background: url(../src/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }
  body#wait #main {
    position: relative;
    top: 10em; }
  body#wait a#wish-btn {
    color: white;
    border-width: 2px;
    border-color: white;
    background: none; }
    body#wait a#wish-btn:hover {
      background-color: white;
      color: #3498db; }
