textarea
  resize: none

body#wait
  background-color: #3498db
  color: white

  #main
    position: relative
    top: 10em

  a#wish-btn
    color: white
    border-width: 2px
    border-color: white
    background: none

    &:hover
        background-color: white
        color: #3498db
