nav.navbar.navbar-inverse.visible-sm.visible-xs#mobile-navbar
  .container
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="index.php") Birthday
    .collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav
        li.menus
          <a class="menu-labels" <?php echo passURL("admin.php");?>>
            span.glyphicon.glyphicon-stats
            |  Dashboard
          </a>
        li.menus
          <a class="menu-labels" <?php echo passURL("admin_wishes.php","Wish Manager");?>>
            span.glyphicon.glyphicon-comment
            |  Wishes
          </a>
        li
          <a class="menu-labels" <?php echo passURL("admin_album.php", "Picture Collector");?>>
            span.glyphicon.glyphicon-picture
            |  Album
          </a>
        li
          <a class="menu-labels" <?php echo passURL("admin_users.php");?>>
            span.glyphicon.glyphicon-user
            |  Users
          </a>
        li
          <a class="menu-labels" <?php echo passURL("admin_settings.php");?>>
            span.glyphicon.glyphicon-cog
            |  Settings
          </a>
        li
          <a class="menu-labels" href="about.php">
            span.glyphicon.glyphicon-info-sign
            |  About
          </a>
        li
          <a class="menu-labels" <?php echo passURL("functionalities/process_signout.php");?>>
            span.glyphicon.glyphicon-log-out
            |  Signout
          </a>

input#check-toggle(type="checkbox" name="check-toggle")
.panel.panel-default.col-md-2.text-right.visible-lg.visible-md#cell-menu
  label(for="check-toggle")
    a.btn#sidebar-toggle(type="button")
      span.glyphicon.glyphicon-menu-hamburger
  ul
    li.menus
      <a class="menu-labels" <?php echo passURL("admin.php"); if ($page=='dashboard') echo " active"?>>Dashboard
        span.glyphicon.glyphicon-stats
      </a>
    li.menus
      <a class="menu-labels" <?php echo passURL("admin_wishes.php","Wish Manager"); if ($page=='wishes') echo " active"?>>Wishes
        span.glyphicon.glyphicon-comment
      </a>
    li.menus
      <a class="menu-labels" <?php echo passURL("admin_album.php","Picture Collector");  if ($page=='album') echo " active"?>>Album
        span.glyphicon.glyphicon-picture
      </a>
    li.menus
      <a class="menu-labels" <?php echo passURL("admin_users.php"); if ($page=='users') echo " active"?>>Users
        span.glyphicon.glyphicon-user
      </a>
    li.menus
      <a class="menu-labels" <?php echo passURL("admin_settings.php"); if ($page=='settings') echo " active"?>>Settings
        span.glyphicon.glyphicon-cog
      </a>
    li.menus
      <a class="menu-labels" href="about.php">About
        span.glyphicon.glyphicon-info-sign
      </a>
    li.menus
      <a class="menu-labels"  <?php echo passURL("functionalities/process_signout.php");?>>Signout
        span.glyphicon.glyphicon-log-out
      </a>
