.panel.panel-default.col-md-2.text-right#cell-menu
    a.btn#sidebar-toggle(type="button")
      span.glyphicon.glyphicon-align-justify
    ul
      li.menus
        a Wish
          span.glyphicon.glyphicon-pencil
      li.menus
        a Album
          span.glyphicon.glyphicon-picture
      li.menus
        a Users
          span.glyphicon.glyphicon-user
      li.menus
        a Settings
          span.glyphicon.glyphicon-cog
