input#check-toggle(type="checkbox" name="check-toggle")
.panel.panel-default.col-md-2.text-right#cell-menu
  label(for="check-toggle")
    a.btn#sidebar-toggle(type="button")
      span.glyphicon.glyphicon-menu-hamburger
  ul
    li.menus
      a.menu-labels Wishes
        span.glyphicon.glyphicon-comment
    li.menus
      a.menu-labels Album
        span.glyphicon.glyphicon-picture
    li.menus
      a.menu-labels Users
        span.glyphicon.glyphicon-user
    li.menus
      a.menu-labels Settings
        span.glyphicon.glyphicon-cog
    li.menus
      a.menu-labels About
        span.glyphicon.glyphicon-info-sign
    li.menus
      a.menu-labels Signout
        span.glyphicon.glyphicon-log-out
