include ./components/head_comment.jade
html
  head
    include ./components/component_header.jade
    title About
  body
    #about-panel
      .panel.col-md-4
        .pic-section
          .profile-pic
            img(src="")
        .comment-section.text-center
          .ribbon
          h4 Ahmad Ali Abdilah
          br
          p
            | A curious-driven person. A noob web-developer, programmer and designer.
            | Passionate about technology but hate studying :p
            | Love to have light chit-chat and small discussion.
