include ./components/head_comment.jade
html
  head
    include ./components/component_header.jade
    title About
  body#about-panel
    .row.text-center
      .col-md-4.col-md-offset-4
        .panel.panel-default(style="padding: 20px; margin-top: 50px")
          .pic-section
            .profile-pic
              //img(src="")
          .comment-section.text-center
            .ribbon
            h4 Ahmad Ali Abdilah
            br
            p
              | A curious-driven person. A noob web-developer, programmer and designer.
              | Passionate about technology but hate studying :p
              | Love to have light chit-chat and small discussion.

      .col-md-12
        br
        br
        a(href="index.php")#home
          .glyphicon.glyphicon-home
