//-<?php if($_SESSION["username"]=='' || $_SESSION["level"]=='' || $_SESSION["level"]!='admin' || $_SESSION["level"]=='picCollector') header('Location: login.php');?>
<?php include("functionalities/config.php");?>
include ./components/head_comment.jade
html
  head
    include ./components/component_header.jade
    title Wish
  body
    .row#tbl-main
      include ./components/component_menu.jade
      #cell-main
        h1.logo Birthday
        hr
        .container.col-md-11
          h3 New User
          .form-group.col-md-6(style="padding: 0")
            form(method="post")
              label(for="username") Username:
              input.form-control#username(type="text" name="username")
              br
              label(for="level") Level of User
              br
              select.form-control#level(name="level")
                option Admin
                option Wish Manager
                option Picture Collector
              br
              label(for="password") Password
              br
              input.form-control#password(type="password" name="password")
              br
              label(for="rePassword") Retype Password
              br
              input.form-control#rePassword(type="password" name="rePpassword")
              br
              button.btn.btn-default(type="reset") Clear
              button.btn.btn-primary(type="submit") Make New User




    include ./components/component_footer.jade
