<?php $path="functionalities/"; $page="album"; include("functionalities/functions.php");?>
include ./components/head_comment.jade
html
  head
    include ./components/component_header.jade
    title Album
  body#dashboard
    .row#tbl-main
      include ./components/component_menu.jade
      #cell-main
        h1.logo.visible-lg.visible-md Birthday
        hr.visible-lg.visible-md
        label.btn.btn-default.edit_button.disabled#pictures_upload_label(for="pictures_upload") Upload Pictures...
        a.btn.btn-danger.edit_button
          span.glyphicon.glyphicon-trash
          |  Delete
        .panel.panel-default.picture_container(style="padding: 10px")
          h4 Uploading Pictures
          hr
          .row.text-center#new
            p#new_status No files selected
            img#progress(src="src/loader.gif" style="display: none")
        .panel.panel-default.picture_container(style="padding: 10px")
          h4 Existing Pictures
          hr
          .row.text-center#existing
            form#select_pictures(action="" method="post")
              <?php getPictures(); ?>

    form.upload#pictures(action="functionalities/process_multiple_upload.php" method="post" enctype="multipart/form-data" role="form" onsubmit="return false" hidden)
      input#pictures_upload(type="file" name="images[]" onchange="var input=this.id; $('#'+input).children('inputID').value=input;$('#'+input).children('dir_path').value='../album/'; $('#pictures').submit()" multiple disabled)
      input#inputID(type="text" name="inputID")
      input#dir_path(type="text" name="dir_path")

    include ./components/component_footer.jade
    script(src="js/jquery.form.js")
    script(src="js/pg-album.js")
