<?php $path="functionalities/"; $page="dashboard"; include("functionalities/functions.php");?>
include ./components/head_comment.jade
html
  head
    include ./components/component_header.jade
    title User Management
  body#dashboard
    .row#tbl-main
      include ./components/component_menu.jade
      #cell-main
        h1.logo.visible-lg.visible-md Birthday
        hr.visible-lg.visible-md
        .row.text-center
          .col-md-6.status-wrapper
            .panel.status
              h3#status
                span.glyphicon.glyphicon-eye-open
                |  &nbsp;&nbsp;<?php echo getPageViews();?>
                |  Visitors
          .col-md-6.status-wrapper
            .panel.status
              h3#status
                span.glyphicon.glyphicon-comment
                |  &nbsp;&nbsp;<?php echo getWishesCount();?>
                |  Wishes



    include ./components/component_footer.jade
