//user provide the database details then make the database

//user input additional details to make admin user and password

//all the details then saved into config.xml except username and password of admin
