include ./components/head_comment.jade
html
  head
    include ./components/component_header.jade
    title Wish
  body#login
    .row(style="margin-top: 30px")
      .col-md-4.col-md-offset-4.text-center
        .panel#back
        .panel
          h3 Login
          hr(width="50%")
          br
          form(method="post" action="functionalities/process_login.php")
            div.form-group
              .input-group.col-xs-8.col-xs-offset-2
                span.input-group-addon @
                input.form-control#uName(type="text" placeholder="Username" name="uName")
              br
              .input-group.col-xs-8.col-xs-offset-2
                span.input-group-addon ***
                input.form-control#pWord(type="password" placeholder="Password" name="pWord")
              br
              button.btn.btn-primary(type="submit") Login
