body
  height: 100%
  margin: 0
  padding: 0
  display: flex
  flex-direction: column
  min-height: 50vh

textarea
  resize: none

div#tbl-main
  margin: 0

div.panel
  margin: 0

input#check-toggle
  display: none

  &:checked + #cell-menu
      margin-left: -5%
      transition: all 0.2s ease-in-out

#cell-menu
  border:
    width: 0
    radius: 0
  padding: 10px 0 0 0
  height: 100%
  margin-right: 20px
  margin-left: -12%
  transition: all 0.2s ease-in-out
  background:
    color: #323131

  a#sidebar-toggle
    text-decoration: none
    color: white
    border:
      width: 2px
      color: #1f1f1f
    background-color: #1f1f1f
    font-size: 1.4em
    margin: 10px 11px 10px 10px
    padding: 3px 7px 3px 7px
    height: auto

    &:hover
      color: #606060

  ul
    padding: 0

    li
      color: white
      list-style: none
      width: 100%

      a
        cursor: pointer
        font-size: 0.9em
        color: white
        text-decoration: none
        display: block
        height: 50px
        width: 100%
        padding: 10px
        background:
          color: none

        &:hover
          color: #323131
          background:
            color: white

        span
          padding: 5px 13px 15px 18px
          font-size: 1.3em
