<?php $path="functionalities/"; include("functionalities/functions.php");?>
include ./components/head_comment.jade
html
  head
    include ./components/component_header.jade
    title Wish
  body
    .row#tbl-main
      include ./components/component_menu.jade
      #cell-main
        h1.logo.visible-lg.visible-md Birthday
        hr.visible-lg.visible-md
        .container
          h3 Write your wish to <u><b><?php echo $config->birthday_name;?></b></u>
          br
          .form-group.col-md-6
            form(method="post")
              label(for="name") Your Name:
              .input-group
                input.form-control.col-md-6#name(type="text" name="name")
                .input-group-btn
                  label.btn.btn-default(for="upload-pic") Choose Your Picture...
              p No picture selected as your picture
              .progress
                .progress-bar.progress-bar-info.progress-bar-striped(role="progress-bar" aria-valuenow="0" aria-valuemax="100")
                  |0%
              label(for="wish") Your Wish:
              textarea.form-control#wish(cols="70" rows="10" name="wish")
              br
              label Featured Picture (optional):
              label.btn.btn-default(for="featured-pic") Choose A Picture...
              br
              br
              br
              button.btn.btn-default(type="reset") Clear
              button.btn.btn-primary(type="submit") Submit

            form(method="post" hidden)
              input#upload-pic(type="file" name="upload-pic")

            form(method="post" hidden)
              input#featured-pic(type="file" name="featured-pic")
    include ./components/component_footer.jade
