<?php $path="functionalities/"; $page=""; include("functionalities/functions.php");?>
include ./components/head_comment.jade
html
  head
    include ./components/component_header.jade
    title Wish
  body
    .row#tbl-main
      include ./components/component_menu.jade
      #cell-main
        h1.logo.visible-lg.visible-md Birthday
        hr.visible-lg.visible-md
        .container
          h3 Write a wish to <u><b><?php echo $config->birthday_name;?></b></u>
          br
          .form-group.col-md-6
            form(action="functionalities/process_submit-wish.php" role="form" method="post")
              label(for="name") Your Name:
              .input-group
                input.form-control.col-md-6#name(type="text" name="name")
                span.input-group-btn
                  label.btn.btn-default.disabled#profile_label(for="profile_file") Choose Your Picture...
                  input#profile_file_name(type="text" name="profile_file" hidden)
              p#profile_file_status No picture selected as your picture
              .progress#profile_file_prog_container(hidden)
                .progress-bar.progress-bar-info.progress-bar-striped#profile_prog(role="progress-bar" aria-valuenow="0" aria-valuemax="100")
                  |0%
                p.msg
              label(for="wish") Your Wish:
              textarea.form-control#wish(cols="70" rows="10" name="wish")
              br
              label Featured Picture (optional):
              label.btn.btn-default.disabled#featured_label(for="featured_file") Choose A Picture...
              p#featured_file_status No picture selected as your picture
              input#featured_file_name(type="text" name="featured_file" hidden)
              .progress#featured_file_prog_container(hidden)
                .progress-bar.progress-bar-info.progress-bar-striped#featured_prog(role="progress-bar" aria-valuenow="0" aria-valuemax="100")
                  |0%
                p.msg
              br
              button.btn.btn-default(type="reset") Clear
              button.btn.btn-primary(type="submit") Submit

            form.uplad#profile_file_form(action="functionalities/process-upload.php" enctype="multipart/form-data" role="form" method="post" onsubmit="return false" hidden)
              input#profile_file(type="file" name="profile_file" onchange="input=this.id;$('#profile_file_status').text(this.value);$('#inputID_p').val(input);$('#dir_path_p').val('../wishes/profile/');$('#profile_file_form').submit()" disabled)
              input#inputID_p(type="text" name="inputID")
              input#dir_path_p(type="text" name="dir_path")

            form.uplad#featured_file_form(action="functionalities/process-upload.php" enctype="multipart/form-data" role="form" method="post" onsubmit="return false" hidden)
              input#featured_file(type="file" name="featured_file" onchange="input=this.id;$('#featured_file_status').text(this.value);$('#inputID_f').val(input);$('#dir_path_f').val('../wishes/embed/');$('#featured_file_form').submit()" disabled)
              input#inputID_f(type="text" name="inputID")
              input#dir_path_f(type="text" name="dir_path")

    include ./components/component_footer.jade
    script(src="js/jquery.form.js")
    script(src="js/pg-wish.js")
